.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

input,select {
	border: 1px solid #999;
}

/*~~~~~~~~~~~~*/
/* Login Page */
/*~~~~~~~~~~~~*/
.loginBoxNoError {
	margin: 50px auto;
}

.loginBoxError {
	margin: 30px auto;
}

/*~~~~~~~*/
/* Boxes */
/*~~~~~~~*/
/* Info, Error, Success, Warning*/
@
sprite .infoBox {
	gwt-image: "infoIcon";
}

@
sprite .successBox {
	gwt-image: "successIcon";
}

@
sprite .warningBox {
	gwt-image: "warningIcon";
}

@
sprite .errorBox {
	gwt-image: "errorIcon";
}

.infoBox,.successBox,.warningBox,.errorBox {
	border: 1px solid;
	margin: 50px auto 10px auto;
	padding: 15px 10px 0px 50px;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	background-position: 10px center;
}

.infoBox {
	color: #00529B;
	background-color: #BDE5F8;
}

.successBox {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.warningBox {
	color: #9F6000;
	background-color: #FEEFB3;
}

.errorBox {
	color: #D8000C;
	background-color: #FFBABA;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~*/
/* GWT classes overridden */
/*~~~~~~~~~~~~~~~~~~~~~~~~*/
.gwt-TextBox,.gwt-PasswordTextBox {
	padding: 3px;
}